In [2]:
print('Learning Python now!')

Learning Python now!

In [3]:
print('Python is fun')

Python is fun

In [4]:
# dispiay two messages
print('Learning Python now!')
print('Python is fun')

Learning Python now!
Python is fun

In [5]:
# dispiay two messages
print('Learning Python now!');
print('Python is fun');

Learning Python now!
Python is fun

In [6]:
print('Learning Python now!')

Learning Python now!

In [7]:
print(1/0)

ZeroDivisionError: division by zero

In [8]:
# Convert Fahrenheit to Celsius
print('Fahrenheit 80 is Celsius degree')
print(5/9 * 80 - 32)

Fahrenheit 80 is Celsius degree
12.444444444444443

In [9]:
# Convert Fahrenheit to Celsius
print('Fahrenheit 80 is Celsius degree')
print(5/9 * (80 - 32))

Fahrenheit 80 is Celsius degree
26.666666666666668

In [10]:
# Convert miles to Kilometers
print('mile 96 is Kilometer')
print(96*1.6)

mile 96 is Kilometer
153.60000000000002

In [11]:
# Convert Fahrenheit to Celsius
print('Fahrenheit 100 is Celsius degree')
print(5/9 * (100 - 32))

Fahrenheit 100 is Celsius degree
37.77777777777778

In [12]:
# Convert feet to meter
print('feet 90 is meter')
print(90*30.5)

feet 90 is meter
2745.0

In [13]:
print("Hello Python")
print('Hello, Python')
print('Hello, Python!')

Hello Python
Hello, Python
Hello, Python!

In [14]:
print("Hello, Python")
print('Hello, Python')
print('Hello, Python!');

Hello, Python
Hello, Python
Hello, Python!

In [15]:
# Convert Fahrenheit to Ceisius
print('Fahrenheit 212 is Celsius degree')
print(5/9*(212-32))

Fahrenheit 212 is Celsius degree
100.0

In [16]:
print('Learning Python now!')
print('Python is fun')
print('Python is a good progamming language')

Learning Python now!
Python is fun
Python is a good progamming language

In [17]:
# '''
# 我的第一個Python程式
# "

print('Python is fun!')
print("Learning Python now!")

Python is fun!
Learning Python now!

In [18]:
# Convert square meter to Ping
print('square meter 100 is Ping')
print(100*0.3025)

square meter 100 is Ping
30.25

In [19]:
# Convert inch to meter
print('inch 50 is meter')
print(50*2.54)

inch 50 is meter
127.0

In [20]:
# Convert Ceisius to Fahrenheit
print('Celsius 100  is Fahrenheit degree')
print(9/5*(100+32))
print(9/5*(0+32))

Celsius 100  is Fahrenheit degree
237.6
57.6

In [21]:
print(12345)

12345

In [22]:
print(123.456)

123.456

In [23]:
print("Learning Python now!")

Learning Python now!

In [24]:
print('Learning Python now!')

Learning Python now!

In [25]:
print('Python is fun')

Python is fun

In [26]:
print('Let\'s go' )

Let's go

In [27]:
print('\\n is skip a line')

\n is skip a line

In [28]:
print('Learning Python now!\nPython is fun')

Learning Python now!
Python is fun

In [29]:
print('Learning Python now!')
print('python is fun')

Learning Python now!
python is fun

In [30]:
print('|\tHello,world')

|	Hello,world

In [31]:
print('|Hello ,\tworld|')

|Hello ,	world|

In [32]:
print('\\n is skip a line')

\n is skip a line

In [33]:
print('\"Hello, everyone\"')

"Hello, everyone"

In [34]:
print('Radius =',12)

Radius = 12

In [35]:
print('Hello,')
print('world')

Hello,
world

In [36]:
print('Hello,',end ='')
print('world')

Hello,world

In [37]:
print('Hello,','world')

Hello, world

In [38]:
print('Hello,', end = '***')
print('world')

Hello,***world

In [39]:
print('***Hello,world',end = '***')
print('')
print('Hello, Python')
print('excellent!!!')

***Hello,world***
Hello, Python
excellent!!!

In [40]:
print('***Hello,world***')
print('Hello, Python')
print('excellent!!!')

***Hello,world***
Hello, Python
excellent!!!

In [41]:
print(format(100,'8d'))

     100

In [42]:
print(format(100000,'3d'))

100000

In [43]:
print(format(100,'8x'))
print(format(100,'8o'))
print(format(100,'8b'))

      64
     144
 1100100

In [44]:
print(format(0.2389,'6.2%'))

23.89%

In [45]:
print(format(123.456,'8.2f'))

  123.46

In [46]:
print(format('Python is fun','15s'))

Python is fun

In [47]:
print(format('Python is fun','>15s'))

  Python is fun

In [48]:
print(format(12345,'10d'))
print(format(12345,'<10d'))

     12345
12345

In [49]:
print(format(12345,'^11d'))

   12345

In [50]:
print(12345,12,1234567)
print(12,1234567,12345)
print(1234567,12345,12)

12345 12 1234567
12 1234567 12345
1234567 12345 12

In [51]:
print(format(12345,'10d'))
print(format(12,'10d'))
print(format(1234567,'10d'))

print(format(12,'10d'))
print(format(1234567,'10d'))
print(format(12345,'10d'))

print(format(1234567,'10d'))
print(format(12345,'10d'))
print(format(12,'10d'))

     12345
        12
   1234567
        12
   1234567
     12345
   1234567
     12345
        12

In [52]:
print(format(12345,'10d'),format(12,'10d'),format(1234567,'10d'))
print(format(12,'10d'),format(124567,'10d'),format(12345,'10d'))
print(format(1234567,'10d'),format(12345,'10d'),format(12,'10d'))

     12345         12    1234567
        12     124567      12345
   1234567      12345         12

In [53]:
print('%10d'%(12345))

     12345

In [54]:
print('|%10d|'%(12345))

|     12345|

In [55]:
print('|%3d|'%(12345))

|12345|

In [56]:
print('|%-10d|'%(12345))

|12345     |

In [57]:
print('|%8.2f|'%(123.456))
print('|%8.2f|'%(1.23456))
print('|%8.2f|'%(1234.56))
print('|%8.2f|'%(12.3456))
print('|%8.2f|'%(12345.6))

|  123.46|
|    1.23|
| 1234.56|
|   12.35|
|12345.60|

In [58]:
print('|%.2f|'%(123.456))
print('|%.2f|'%(1.23456))
print('|%.2f|'%(1234.56))
print('|%.2f|'%(12.3456))
print('|%.2f|'%(12345.6))

|123.46|
|1.23|
|1234.56|
|12.35|
|12345.60|

In [59]:
print('|%30s|'%('Learning Python now!'))
print('|%-30s|'%('Learning Python now!'))
print('|%15s|'%('Learning Python now!'))

|          Learning Python now!|
|Learning Python now!          |
|Learning Python now!|

In [60]:
print('%10d%10d%10d'%(12345,12,1234567))
print('%10d%10d%10d'%(12,1234567,12345))
print('%10d%10d%10d'%(1234567,12345,12))

     12345        12   1234567
        12   1234567     12345
   1234567     12345        12

In [61]:
print('%d%% orange juice'%(100))

100% orange juice

In [62]:
print('{0}'.format(123))
print('{0},{1}'.format(123,12345))
print('x={0:5d},{1:7d}'.format(123,12345))
print('x = {0:5d},y= {1:7d}'.format(123,12345))
print('x = {p:5d},y= {q:7d}'.format(p=123,q=12345))
print('a= {0:7.2f},b= {1:9.2f}'.format(123.456,123.456))
print('{p:9s},{q:7s}'.format(p='Kiwi',q='Banana'))
print('{p:>9s},{q:>9s}'.format(p='Kiwi',q='Banana'))
print('{p:^9s},{q:^9s}'.format(p='Kiwi',q='Banana'))

123
123,12345
x=  123,  12345
x =   123,y=   12345
x =   123,y=   12345
a=  123.46,b=    123.46
Kiwi     ,Banana
     Kiwi,   Banana
  Kiwi   , Banana

In [63]:
print('|%10d %9d %9d|'%(12345,12,1234567))
print('|%10d %9d %9d|'%(12,1234567,123))
print('|%10d %9d %9d|'%(1234567,123,12345))

|     12345        12   1234567|
|        12   1234567       123|
|   1234567       123     12345|

In [64]:
print(format('Department','12s'))
print(format('of','12s'))
print(format('Computer','12s'))
print(format('Science','12s'))
print()

Department
of
Computer
Science

In [65]:
print(format('Department','>12s'))
print(format('of','>12s'))
print(format('Computer','>12s'))
print(format('Science','>12s'))

  Department
          of
    Computer
     Science

In [66]:
print(format(123.456,'10.2f'))
print(format(12345.678,'10.2f'))

    123.46
  12345.68

In [67]:
print('i=%d'%(100))
print('i=%d,j=%d'%(100,200))

i=100
i=100,j=200

In [68]:
print('Price:$ %8.2f'%(356.08977))
print('%10.2f  %10.2f' %(123.456,345.789))
print('%-10.2f %5d' %(123.456,100))
print('radius = %d,area = %7.2f' %(5,5*5*3.14159))
print('Raidus:{a:3d},Area:{b:10.2f}'.format(a=5,b=5*5*3.14159))

Price:$   356.09
    123.46      345.79
123.46       100
radius = 5,area =   78.54
Raidus:  5,Area:     78.54

In [69]:
print('%.2f degree Celsius in Fahrenheit\
    is %.2f'%(3.25,3.25*1.8+32))
print('%.2f degree Fahrenheit in Celsius\
    is %.2f'%(94.5,(94.5-32)/1.8))

3.25 degree Celsius in Fahrenheit    is 37.85
94.50 degree Fahrenheit in Celsius    is 34.72

In [70]:
print('%-15s %-10s' %('Month','Amount'))
print('%-15d %-10.2f' %(1,43400.2))
print('%-15d %-10.2f' %(2,45430.28))
print('%-15d %-10.2f' %(3,48030.48))
print('%-15d %-10.2f' %(4,51112.96))
print('%-15d %-10.2f' %(5,52857.2))

Month           Amount
1               43400.20
2               45430.28
3               48030.48
4               51112.96
5               52857.20

In [71]:
print('|%10d %9d %9d|'%(12345,12,1234567))
print('Raidus=:{a:3d},Area=:{b:10.2f}'.format(a=5,b=5*3.14159))
print(format(123.456,'10.2f'))
print('%-15d %-10.2f' %(1,43400.2))
print('x = {0:5d},y= {1:7d}'.format(123,12345))

|     12345        12   1234567|
Raidus=:  5,Area=:     15.71
    123.46
1               43400.20
x =   123,y=   12345

In [72]:
print('Member{0:7s},discount{1:3.2f}'.format('Karen',0.35))
print('Member{0:7s},discount{1:3.2f}'.format('Sammy',0.4))
print('Member{0:7s},discount{1:3.2f}'.format('JoJo',0.42))

MemberKaren  ,discount0.35
MemberSammy  ,discount0.40
MemberJoJo   ,discount0.42

In [73]:
print('%20s %-20s'%('Appple\'s Products:','iphone'))
print('%20s %-20s'%('','iMac'))
print('%20s %-20s'%('','Apple Watch'))
print('%20s %-20s'%('','...'))

  Appple's Products: iphone
                     iMac
                     Apple Watch
                     ...

In [74]:
print('%-15s %7s'%('City','Celsius'))
print('%-15s %7.2f'%('Taipei',33.2))
print('%-15s %7.2f'%('Yilan',32.93))
print('%-15s %7.2f'%('MiaoLi',32.29))
print('%-15s %7.2f'%('Taichung',32.48))
print('%-15s %7.2f'%('HuaLian',33.87))

City            Celsius
Taipei            33.20
Yilan             32.93
MiaoLi            32.29
Taichung          32.48
HuaLian           33.87

In [75]:
print('|%6d %6d %6d %6d|'%(22,44,66,88))
print('|%-6d %-6d %-6d %-6d|'%(33,55,77,99))
print('|%6d %6d %6d %6d|'%(222,444,666,888))
print('|%-6d %-6d %-6d %-6d|'%(333,555,777,999))

|    22     44     66     88|
|33     55     77     99    |
|   222    444    666    888|
|333    555    777    999   |

In [76]:
print('Learning Python now***')
print('Python is fun$$$')

Learning Python now***
Python is fun$$$

In [77]:
print('|%10d %9d %9d|'%(12345,12,1234567))
print('Raidus=:{a:3d},Area=:{b:10.2f}'.format(a=5,b=5*3.14159))
print(format(123.456,'10.2f'))
print('%15d %10.2f ' %(1,43400.2))
print('x = {0:5d},y= {1:7d}'.format(123,12345))

|     12345        12   1234567|
Raidus=:  5,Area=:     15.71
    123.46
              1   43400.20
x =   123,y=   12345

In [78]:
print('|%3d|'%(12345))
print('|%5d|'%(12345))
print('|%8d|'%(12345))

print('|%f|'%(123.456))
print('|%5.2f|'%(123.456))
print('|%10.2f|'%(123.456))
print('|%.2f|'%(123.456))

print('|%10s|'%('Apple'))

print('|%-8d|'%(12345))
print('|%-10.2f|'%(123.456))
print('|%-10s|'%('Apple'))

|12345|
|12345|
|   12345|
|123.456000|
|123.46|
|    123.46|
|123.46|
|     Apple|
|12345   |
|123.46    |
|Apple     |

In [79]:
print('Using format')
print(format(123,'3d'),format(45,'7d'))
print(format(123456,'6d'),format(78901,'7d'))

print('Using .format')
print('{0},{1:8d}'.format(123,45))
print('{0},{1:8d}'.format(123456,78901))

print('Using %')
print('%3d% 8d'%(123,45))
print('%6d% 8d'%(123456,78901))

Using format
123      45
123456   78901
Using .format
123,      45
123456,   78901
Using %
123      45
123456   78901

In [80]:
a = 7+8*2-6+8/2
print(a)

21.0

In [81]:
b =(7+8)*2-(6+8)/2
print(b)

23.0

In [82]:
str1 ='Learning Python'+'is fun'
print(str1)

Learning Pythonis fun

In [83]:
str2 ='Learning Python'+\
'is fun'
print(str2)

Learning Pythonis fun

In [84]:
question1 = 'is your birthday in set1?\n' + \
  '1 3 5 7\n' +\
  '9 11 13 15\n' +\
  '17 19 21 23\n' +\
  '25 27 29 31\n' +\
  '\n Enter 1 for Yes and 0 for No:'
print(question1)

is your birthday in set1?
1 3 5 7
9 11 13 15
17 19 21 23
25 27 29 31

 Enter 1 for Yes and 0 for No:

In [85]:
print('Hello,world')
print('Hello,',end='')
print('world')
s = 'Hello,' + \
  'world'
print(s)

Hello,world
Hello,world
Hello,world

In [86]:
8/3

2.6666666666666665

In [87]:
8//3

2

In [88]:
8**2

64

In [89]:
100**0.5

10.0

In [90]:
8%3

2

In [91]:
i = 100
j = 100
k = 100
print(i,j,k)

100 100 100

In [92]:
i = j = k =200
print(i,j,k)

200 200 200

In [93]:
a,b =100,200
print(a,b)

100 200

In [94]:
a=100
b=200
temp=a
a=b
b=temp
print(a,b)

200 100

In [95]:
a=100
b=200
a,b=b,a
print(a,b)

200 100

In [96]:
a=10
a+=2
print(a)

12

In [97]:
a*=5
print(a)

60

In [98]:
a//=3
print(a)

20

In [99]:
a%=6
print(a)

2

In [100]:
k=eval(input())

3

In [101]:
k

3

In [102]:
print(k)

3

In [103]:
s=eval(input('Please enter an integer'))

Please enter an integer45

In [104]:
s

45

In [105]:
s2=input('Please enter a string:')

Please enter a string:Hello,world

In [106]:
s2

'Hello,world'

In [107]:
print(s2)

Hello,world

In [108]:
str2=input('Please enter an integer')

Please enter an integer88

In [109]:
print(str2)

88

In [110]:
str2

'88'

In [111]:
str2=eval(input('Please enter an integer:'))

Please enter an integer:88

In [112]:
num=str2+80
print(num)

168

In [113]:
num1=eval(input('Please enter number1:'))

Please enter number1:100

In [114]:
num2=eval(input('Please enter number2:'))

Please enter number2:200

In [115]:
print(num1+num2)

300

In [116]:
num1,num2=eval(input('Enter two numbers separated by comma:'))

Enter two numbers separated by comma:100,200

In [117]:
print(num1+num2)

300

In [118]:
radius = eval(input('Enter the radius:'))
area= radius*radius*3.14159
perimeter = 2*3.14159*radius
print('Area=%.2f'%(area))
print('Perimeter = %.2f'%(perimeter))

Enter the radius:5
Area=78.54
Perimeter = 31.42

In [119]:
num1,num2,num3 =eval(input('Enter three number separated by commas:'))
total = num1 + num2 + num3
average =total /3
print('total =%d,and average = %f'%(total,average))

Enter three number separated by commas:100,150,170
total =420,and average = 140.000000

In [120]:
print('total =%d,and average = %.2f'%(total,average))

total =420,and average = 140.00

In [121]:
import math
radius = eval(input('Enter the radius:'))
area= radius*radius* math.pi
perimeter = 2*math.pi*radius
print('Area=%.2f'%(area))

Enter the radius:30
Area=2827.43

In [122]:
# input 3 integers than calculate total and average
num1,num2,num3 =eval(input('Enter three number separated by commas:'))

# calculate total and average
total = num1 + num2 + num3
average = total /2

# display total and average
print('total = %d,and average =%.2f'%(total,average))

Enter three number separated by commas:5,10,15
total = 30,and average =15.00

In [123]:
a=100
b=200
c,d=a,b
print(c,d)
print(c)
print(d)
print()

100 200
100
200

In [124]:
a=100
b=200
c,d=a,b
print(c,d)
print(c,end='')
print(d,end='***')
print('Over')

100 200
100200***Over

In [125]:
a=100
b=200
c,d=a,b
print(c,d)
print(c,end='$')
print('and')
print(d,end='***')
print('Over')

100 200
100$and
200***Over

In [126]:
x=100
y=3
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x**y)
print(x**0.5)

300
33.333333333333336
33
1
1000000
10.0

In [127]:
str1 ='Hello,'
str2 = "Python"
str3 = str1 +str2
print(str3)
a = 100
b = 200
c = a+b
print(c)

Hello,Python
300

In [128]:
str1 = 'Hello,' +\
     'Python,Let\'s learning'
str2 = "Python now"
str3 =str1 +str2
print(str3)

Hello,Python,Let's learningPython now

In [129]:
a = 100
b = 3
a//=b
print(a)

a = 100
a %= b
print(a)

a = 100
a/=b
print(a)

33
1
33.333333333333336

In [130]:
a =100
b =200
print(a,b)

temp=a
a=b
b=temp
print(a,b)

100 200
200 100

In [131]:
a=eval(input('Enter an integer:'))
b = a +100
print(a,b)

str1=input('Enter a string:')
str2=str1+'i8'
print(str2)

Enter an integer:60
60 160
Enter a string:90
90i8

In [132]:
str1 = 'Hello,' +\
     'Python,Let\'s learning'
str2 = "Python now"
str3 =str1 +str2
print(str3)

Hello,Python,Let's learningPython now

In [133]:
# Convert Fahrenheit to Ceisius
print('Fahrenheit 212 is Celsius degree')
print(5/9*(212-32))

Fahrenheit 212 is Celsius degree
100.0

In [134]:
# Change a and b
a = 100
b = 200
a,b=b,a
print(a,b)

temp=a
a=b
b=temp
print(a,b)

200 100
100 200

In [135]:
a=eval(input('Please enther an integer:'))
b=a+100
print(a,b)

Please enther an integer:50
50 150

In [136]:
41/5

8.2

In [137]:
41//5

8

In [138]:
41%5

1

In [139]:
50%5

0

In [140]:
1%2

1

In [141]:
35%3

2

In [142]:
45+4*3-12

45

In [143]:
45+34%3*(21*3%2)

46

In [144]:
6**3-21

195

In [145]:
100**0.5*2-29

-9.0

In [146]:
a=10
a+=3
print(a)

13

In [147]:
a=10
a*=3
print(a)

30

In [148]:
a=10
a/=3
print(a)

3.3333333333333335

In [149]:
a=10
a//=3
print(a)

3

In [150]:
a=10
a%=3
print(a)

1

In [151]:
# output 1
print(1,end='')
print(22,end='*****')
print(333)
print()

122*****333

In [152]:
# output2
print(1,end='$')
print(22,end='@@@@@')
print(333)
print('Over')

1$22@@@@@333
Over

In [153]:
# Display two messages
a=100
b=200
print(a,b)

100 200

In [154]:
num1,num2,num3,num4,num5 =eval(input('Enter five number separated by commas:'))
Sum = num1 + num2 + num3 + num4 + num5
Average =Sum /5
print('Sum =%d,and Average = %f'%(Sum,Average))

Enter five number separated by commas:20,40,60,80,100
Sum =300,and Average = 60.000000

In [155]:
62/5

12.4

In [156]:
62//5

12

In [157]:
62%5

2

In [158]:
60%6

0

In [159]:
1%2

1

In [160]:
2%1

0

In [161]:
61+5*4-2

79

In [162]:
65+43%5*(13*3%2)

68

In [163]:
5**3

125

In [164]:
5.1**2

26.009999999999998

In [165]:
10000**0.5

100.0

In [166]:
abs(-100)

100

In [167]:
max(12,23,100,58,60)

100

In [168]:
min(12,23,100,58,60)

12

In [169]:
pow(2,5)

32

In [170]:
round(6.6)

7

In [171]:
round(5.5)

6

In [172]:
round(4.5)

4

In [173]:
round(6.667,2)

6.67

In [174]:
round(6.663,2)

6.66

In [175]:
int(12.34)

12

In [176]:
ans=pow(8.5,5)+pow((9.5-3),2)+100.2
print(int(ans))

44512

In [177]:
import math
side = eval(input('Enter the length of side:'))
area =(5*side*side)/(4*math.tan(math.pi/5))
print(area)

Enter the length of side:6.5
72.69017017488386

In [178]:
import math
n1,n2,n3=eval(input('Enter threes number:'))
mean = (n1+n2+n3)/3
variance = (pow((n1-mean),2)+pow((n2-mean),2)+pow((n3-mean),2))/3
sd=math.sqrt(variance)

print('variance is %.2f,and standand deviation is %.2f'%(variance,sd))

Enter threes number:10,20,30
variance is 66.67,and standand deviation is 8.16

In [179]:
import math
n1,n2,n3=eval(input('Enter threes number:'))
mean = (n1+n2+n3)/3
variance = (pow((n1-mean),2)+pow((n2-mean),2)+pow((n3-mean),2))/3
sd=math.sqrt(variance)

print('variance is %.2f,and standand deviation is %.2f'%(variance,sd))

Enter threes number:5,6,7
variance is 0.67,and standand deviation is 0.82

In [180]:
str(12.3)

'12.3'

In [181]:
str(12)

'12'

In [182]:
ord('A')

65

In [183]:
ord('a')

97

In [184]:
chr(65)

'A'

In [185]:
chr(97)

'a'

In [186]:
a=-888
b=100
c=10
d=2
e=0.5
print(abs(a))
print(max(a,b,c,d,e))
print(min(a,b,c,d,e))
print(pow(c,d))
print(round(7.5))
print(round(6.5))
print(int(123.456))
print(round(123.456,2))

888
100
-888
100
8
6
123
123.46

In [187]:
import math
a=math.fabs(-123.45)
print(a)

b= math.ceil(8.8)
print(b)

c=math.floor(8.8)
print(c)
d=math.exp(1)
print(d)
    
e=math.log(100)
print(e)

f=math.log(100,10)
print(f)

g=math.sqrt(1000000)
print(g)

123.45
9
8
2.718281828459045
4.605170185988092
2.0
1000.0

In [188]:
import math
math.fabs(-123.4)

123.4

In [189]:
import math
math.ceil(5.6)

6

In [190]:
import math
math.floor(5.6)

5

In [191]:
import math
math.exp(1)

2.718281828459045

In [192]:
import math
math.log(2.71828)

0.999999327347282

In [193]:
import math
print('%.2f'%math.log(2.71828))

1.00

In [194]:
math.log(math.e)

1.0

In [195]:
math.log(1000,10)

2.9999999999999996

In [196]:
math.sqrt(100)

10.0

In [197]:
math.sin(0)

0.0

In [198]:
math.sin(1/2*math.pi)

1.0

In [199]:
math.sin(math.pi)

1.2246467991473532e-16

In [200]:
math.sin(3/2*math.pi)

-1.0

In [201]:
math.sin(2*math.pi)

-2.4492935982947064e-16

In [202]:
math.cos(0)

1.0

In [203]:
math.cos(1/2*math.pi)

6.123233995736766e-17

In [204]:
math.cos(math.pi)

-1.0

In [205]:
math.cos(3/2*math.pi)

-1.8369701987210297e-16

In [206]:
math.cos(2*math.pi)

1.0

In [207]:
math.tan(0)

0.0

In [208]:
math.tan(1/4*math.pi)

0.9999999999999999

In [209]:
math.tan(5/4*math.pi)

0.9999999999999997

In [210]:
math.tan(-1/4*math.pi)

-0.9999999999999999

In [211]:
math.tan(3/4*math.pi)

-1.0000000000000002

In [212]:
math.tan(math.pi)

-1.2246467991473532e-16

In [213]:
math.tan(0)

0.0

In [214]:
math.radians(90)

1.5707963267948966

In [215]:
math.radians(180)

3.141592653589793

In [216]:
math.degrees(1/2*math.pi)

90.0

In [217]:
math.degrees(math.pi)

180.0

In [218]:
m=math.tan(0)
print(m)

n=math.tan(2*math.pi)
print(n)

p=math.degrees(2*math.pi)
print(p)

q=math.radians(360)
print(q)

0.0
-2.4492935982947064e-16
360.0
6.283185307179586

In [219]:
x='Apple i'+str(8)
print(x)

y=ord('Z')
print(y)

z=chr(100)
print(z)

Apple i8
90
d

In [220]:
f=math.log(10000,10)
print(f)

4.0

In [221]:
g1=math.sqrt(10000)
print(g1)

100.0

In [222]:
h1=math.tan(0)
print(h1)

0.0

In [223]:
p1=max(1,2,4,78,300)
print(p1)

300

In [224]:
q1=abs(-101)
print(q1)

101

In [225]:
ord('a')

97

In [226]:
round(8.5)

8

In [227]:
pow(8,2)

64

In [228]:
import math
math.ceil(3.8)

4

In [229]:
import math
math.floor(3.8)

3

In [230]:
math.sqrt(100)

10.0

In [231]:
math.sin(math.pi/2)

1.0

In [232]:
ord('a')

97

In [233]:
chr(81)

'Q'

In [234]:
ord('A')

65

In [235]:
chr(103)

'g'

In [236]:
chr(70)

'F'

In [237]:
str(100)

'100'

In [238]:
str(123.45)

'123.45'

In [239]:
'iPfone'+'XS'

'iPfoneXS'

In [240]:
abs(-100)

100

In [241]:
max(12,3,9,32,33)

33

In [242]:
min(10,13,89,2,12)

2

In [243]:
pow(7,3)

343

In [244]:
round(5.5)

6

In [245]:
round(4.5)

4

In [246]:
round(123.456,2)

123.46

In [247]:
round(123.456,1)

123.5

In [248]:
import math
side = eval(input('Enter the length of side:'))
area =(5*side*side)/(4*math.tan(math.pi/5))
print(area)

Enter the length of side:6.5
72.69017017488386

In [249]:
X =65
if X > 60:
    X=X+5
print('X =%d' %(X))

X =70

In [250]:
numerator = eval(input("請輸入分子:"))
denominator = eval(input("請輸入分母:")) 
if denominator!=0:
    ans=numerator/denominator
    print(numerator,"/",denominator,"=",ans)
print("Over")

請輸入分子:125
請輸入分母:25
125 / 25 = 5.0
Over

In [251]:
numerator = eval(input("請輸入分子:"))
denominator = eval(input("請輸入分母:")) 
if denominator!=0:
    ans=numerator/denominator
    print(numerator,"/",denominator,"=",ans)
print("Over")

請輸入分子:125
請輸入分母:0
Over

In [252]:
number=eval(input("Please input a number:"))
if number%5==0:
    print(number,"is 5's multiple")
print("Over")

Please input a number:45
45 is 5's multiple
Over

In [253]:
numerator = eval(input("請輸入分子:"))
denominator = eval(input("請輸入分母:"))
if denominator!=0:
    ans=numerator/denominator
    print(numerator,"/",denominator,"=",ans)
else:
    print("分母不可為0")
print("Over")

請輸入分子:125
請輸入分母:25
125 / 25 = 5.0
Over

In [254]:
numerator = eval(input("請輸入分子:"))
denominator = eval(input("請輸入分母:"))
if denominator!=0:
    ans=numerator/denominator
    print(numerator,"/",denominator,"=",ans)
else:
    print("分母不可為0")
print("Over")

請輸入分子:125
請輸入分母:0
分母不可為0
Over

In [255]:
num = eval(input("Please input a number:"))
if num % 2==0:
    print(num,"is an even number.")
else:
    print(num,"is a odd number.")
print("Over")

Please input a number:88
88 is an even number.
Over

In [256]:
num = eval(input("Please input a number:"))
if num % 2==0:
    print(num,"is an even number.")
else:
    print(num,"is a odd number.")
print("Over")

Please input a number:89
89 is a odd number.
Over

In [257]:
number= eval(input("Please input a number:"))
if number>0:
    print(number,"is greater than 0")
else:
    if number<0:
        print(number,"is less than 0")
    else:
        print(number,"is equal than 0")
print("Over")

Please input a number:20
20 is greater than 0
Over

In [258]:
number= eval(input("Please input a number:"))
if number>0:
    print(number,"is greater than 0")
else:
    if number<0:
        print(number,"is less than 0")
    else:
        print(number,"is equal than 0")
print("Over")

Please input a number:-10
-10 is less than 0
Over

In [259]:
number= eval(input("Please input a number:"))
if number>0:
    print(number,"is greater than 0")
else:
    if number<0:
        print(number,"is less than 0")
    else:
        print(number,"is equal than 0")
print("Over")

Please input a number:0
0 is equal than 0
Over

In [260]:
number= eval(input("Please input a number:"))
if number>0:
    print(number,"is greater than 0")
elif number<0:
    print(number,"is less than 0")
else:
    print(number,"is equal than 0")
print("Over")

Please input a number:20
20 is greater than 0
Over

In [261]:
score=eval(input("Please input your score:"))
if score>=80:
    print("Grade A")
elif score>=70:
    print("Grade B")
elif score>=60:
    print("Grade C")
elif score>=50:
    print("Grade D")
else:
    print("Grade E")

Please input your score:86
Grade A

In [262]:
score=eval(input("Please input your score:"))
if score>=80:
    print("Grade A")
elif score>=70:
    print("Grade B")
elif score>=60:
    print("Grade C")
elif score>=50:
    print("Grade D")
else:
    print("Grade E")

Please input your score:62
Grade C

In [263]:
weight = eval(input("Please input your weight(kilogram):"))
height = eval(input("Please input your height(centimeter):"))
heightlnMeters =height/100

bmi=weight/(heightlnMeters*heightlnMeters)
print("Your BMI is", format(bmi,".2f"))

if bmi<18.5:
    print("Underweight")
elif bmi<25:
    print("Normal")
if bmi<30:
    print("Overweight")
else:
    print("Obese")

Please input your weight(kilogram):67
Please input your height(centimeter):185
Your BMI is 19.58
Normal
Overweight

In [264]:
year=eval(input("Please enter which year?"))
if year % 400 == 0 or(year % 4 == 0 and year % 100!=0):
    print(year, "is leap year")
else:
    print(year,"is not leap year")

Please enter which year?2020
2020 is leap year

In [265]:
year=eval(input("Please enter which year?"))
cond1=year % 400 == 0 
cond2=year % 4 == 0 
cond3=year % 100!=0
if cond1 or (cond2 and cond3):
    print(year, "is leap year")
else:
    print(year,"is not leap year")

Please enter which year?2020
2020 is leap year

In [266]:
number= eval(input("Please input a number:"))

if number>=0:
    print(number)
else:
    print(-number)

Please input a number:-100
100

In [267]:
number= eval(input("Please input a number:"))

if number>=0:
    print(number)
else:
    print(-number)

Please input a number:100
100

In [268]:
score=eval(input("Enter your score:"))
if score>=60:
    print('you pass')
else:
    print('you fail')

Enter your score:90
you pass

In [269]:
score=eval(input("Enter your score:"))
if score>=60:
    print('you pass')
else:
    print('you fail')

Enter your score:50
you fail

In [270]:
number1 =eval(input('Enter number1:'))
number2 =eval(input('Enter number2:'))

operator = input('Enter an arithmetic operator(+,-,*,/):')
result = 0
flag = 0
if operator == '+':
    result = number1+number2
elif operator == '-':
    result = number1-number2
elif operator == '*':
    result = number1*number2
elif operator == '/':
    result = number1/number2
else:
    flag=1
    print('lnvalid operator')
    
if flag!=1:
    print('%.4f%c %.4f=%.4f'%(number1,operator,number2,result))

Enter number1:88
Enter number2:66
Enter an arithmetic operator(+,-,*,/):88.0000- 66.0000=22.0000
lnvalid operator

In [271]:
number1 =eval(input('Enter number1:'))
number2 =eval(input('Enter number2:'))

operator = input('Enter an arithmetic operator(+,-,*,/):')
result = 0
flag = 0
if operator == '+':
    result = number1+number2
elif operator == '-':
    result = number1-number2
elif operator == '*':
    result = number1*number2
elif operator == '/':
    result = number1/number2
else:
    flag=1
    print('lnvalid operator')
    
if flag!=1:
    print('%.4f%c %.4f=%.4f'%(number1,operator,number2,result))

Enter number1:100
Enter number2:200
Enter an arithmetic operator(+,-,*,/):100.0000+ 200.0000=300.0000
lnvalid operator

In [272]:
age = eval(input('請輸入年齡:'))
state=''

if age<6:
    state='童年'
elif age<=17:
    state='少年'
elif age<=40:
    state='青年'
elif age<=65:
    state='中年'
else:
    state='老年'
    
print('你的年齡屬於%s'% state)

請輸入年齡:18
你的年齡屬於青年

In [273]:
age = eval(input('請輸入年齡:'))
state=''

if age<6:
    state='童年'
elif age<=17:
    state='少年'
elif age<=40:
    state='青年'
elif age<=65:
    state='中年'
else:
    state='老年'
    
print('你的年齡屬於%s'% state)

請輸入年齡:45
你的年齡屬於中年

In [275]:
day=0
question1="Is your birthday in set1?\n"+\
      "1 3 5 7\n"+\
      "9 11 13 15\n"+\
      "17 19 21 23\n"+\
      "25 27 29 31\n"+\
      "\nEnter 1 for Yes and 0 for No:"
answer=eval(input(question1))

if answer==1:
    day+=1
    
question2="Is your birthday in set2?\n"+\
      "2 3 6 7\n"+\
      "10 11 14 15\n"+\
      "18 19 22 23\n"+\
      "26 27 30 31\n"+\
      "\nEnter 1 for Yes and 0 for No:"
answer=eval(input(question2))

if answer==1:
    day+=2
    
question3="Is your birthday in set3?\n"+\
      "4 5 6 7\n"+\
      "12 13 14 15\n"+\
      "20 21 22 23\n"+\
      "28 29 30 31\n"+\
      "\nEnter 1 for Yes and 0 for No:"
answer=eval(input(question3))

if answer==1:
    day+=4
    
question4="Is your birthday in set4?\n"+\
      "8 9 10 11\n"+\
      "12 13 14 15\n"+\
      "24 25 26 27\n"+\
      "28 29 30 31\n"+\
      "\nEnter 1 for Yes and 0 for No:"
answer=eval(input(question4))

if answer==1:
    day+=8
    
question5="Is your birthday in set5?\n"+\
      "16 17 18 19\n"+\
      "20 21 22 23\n"+\
      "24 25 26 27\n"+\
      "28 29 30 31\n"+\
      "\nEnter 1 for Yes and 0 for No:"
answer=eval(input(question5))

if answer==1:
    day+=16
    
print("Your birthday is" ,day)

Is your birthday in set1?
1 3 5 7
9 11 13 15
17 19 21 23
25 27 29 31

Enter 1 for Yes and 0 for No:1
Is your birthday in set2?
2 3 6 7
10 11 14 15
18 19 22 23
26 27 30 31

Enter 1 for Yes and 0 for No:0
Is your birthday in set3?
4 5 6 7
12 13 14 15
20 21 22 23
28 29 30 31

Enter 1 for Yes and 0 for No:1
Is your birthday in set4?
8 9 10 11
12 13 14 15
24 25 26 27
28 29 30 31

Enter 1 for Yes and 0 for No:1
Is your birthday in set5?
16 17 18 19
20 21 22 23
24 25 26 27
28 29 30 31

Enter 1 for Yes and 0 for No:0
Your birthday is 13

In [276]:
score=eval(input("Enter your score:"))
if score>=60:
    score+= 10
print('Your score is %d'%(score))

Enter your score:60
Your score is 70

In [277]:
score=eval(input("Enter your score:"))
if score>=60:
    score+= 10
else:
    score+= 8
print('Your score is %d'%(score))

Enter your score:75
Your score is 85

In [278]:
temperature =eval (input('Enter temperature today:'))
if temperature >=28:
    print('Hot')
else:
    print('Comfortable')
print('Over')

Enter temperature today:28
Hot
Over

In [279]:
temperature =eval (input('Enter temperature today:'))
if temperature >=28:
    print('Hot')
elif temperature >=22:
    print('Comfortable')
else:
    print('Cold')
print('Over')

Enter temperature today:19
Cold
Over

In [280]:
temperature =eval (input('Enter temperature today:'))
humility = eval(input('Enter humility today'))
if temperature >=28:
    print('Hot')
elif temperature >=22 and humility>=40 and humility<=50:
    print('Comfortable')
else:
    print('Cold')
print('Over')

Enter temperature today:28
Enter humility today46
Hot
Over

In [281]:
char =input('Enter a character:')
if char >='a' and char <='z':
    print('%c is lowercase charater'%(char))
elif char >='A' and char <='Z': 
    print('%c is uppercase charater'%(char))
else:
    print('%s is other charater'%(char))

Enter a character:a
a is lowercase charater

In [282]:
num = eval(input('Enter a number:'))
if num % 2 ==0:
    print('%d'%(num),end='')
    print('is even number.')
else:
    print('%d'%(num),end='')
    print('is odd number.')
print('Test is over')

Enter a number:68
68is even number.
Test is over

In [283]:
temperature =eval (input('Enter temperature today:'))
if temperature >=28:
    print('Hot')
elif temperature >=22:
    print('Comfortable')
else:
    print('Cold')
print('Over')

Enter temperature today:22
Comfortable
Over

In [284]:
score=eval(input("Enter your score:"))
if score>=60:
    score+= 10
else:
    score+= 8
print('Your score is %d'%(score))

Enter your score:55
Your score is 63

In [285]:
temperature =eval (input('Enter temperature today:'))
humility = eval(input('Enter humility today'))
if temperature >=28:
    print('Hot')
elif temperature >=22 and humility>=40 and humility<=50:
    print('Comfortable')
else:
    print('Cold')
print('Over')

Enter temperature today:40
Enter humility today44
Hot
Over

In [286]:
year=eval(input("Please enter which year?"))
if year % 400 == 0 or(year % 4 == 0 and year % 100!=0):
    print(year, "is leap year")
else:
    print(year,"is not leap year")

Please enter which year?2020
2020 is leap year

In [287]:
char =input('Enter a character:')
if char >='a' and char <='z':
    print('%c is lowercase charater'%(char))
elif char >='A' and char <='Z': 
    print('%c is uppercase charater'%(char))
else:
    print('%s is other charater'%(char))

Enter a character:Z
Z is uppercase charater

In [288]:
num = eval(input('Enter a number:'))
if num % 2 ==0:
    print('%d'%(num),end='')
    print('is even number.')
else:
    print('%d'%(num),end='')
    print('is odd number.')
print('Test is over')

Enter a number:51
51is odd number.
Test is over

In [289]:
numerator = eval(input("請輸入分子:"))
denominator = eval(input("請輸入分母:"))
if denominator!=0:
    ans=numerator/denominator
    print(numerator,"/",denominator,"=",ans)
else:
    print("分母不可為0")
print("Over")

請輸入分子:64
請輸入分母:8
64 / 8 = 8.0
Over

In [290]:
score = 89
if score>90:
    print('Excellent!')
elif score >=80:
    print('Good!')
else:
    print('Not bad!')

Good!

In [291]:
score = 78
if score>90:
    print('Excellent!')
elif score >=80:
    print('Good!')
else:
    print('Not bad!')

Not bad!

In [292]:
a=177
if(a%2)==0 and(a%3==0):
    print('可被2和3整除')
elif(a%2)==0 and(a%3==0):
    print('可被2和3整除')
else:
    print('不能被2和3整除')

不能被2和3整除

In [293]:
a=179
if(a%2)==0 and(a%3==0):
    print('可被2和3整除')
elif(a%2)==0 and(a%3==0):
    print('可被2和3整除')
else:
    print('不能被2和3整除')

不能被2和3整除

In [294]:
print(8+5//2*3>2*(7-4)+10/2)

True

In [295]:
a=eval(input('Enter a number:'))
if a % 3 == 0:
     print('%d is multiple of 3'%(a))
elif a % 5 == 0:
     print('%d is multiple of 5'%(a))
else:
    print('%d is not multiple of 3 or 5'%(a))

Enter a number:9
9 is multiple of 3

In [296]:
a=eval(input('Enter a number:'))
if a % 3 == 0:
     print('%d is multiple of 3'%(a))
elif a % 5 == 0:
     print('%d is multiple of 5'%(a))
else:
    print('%d is not multiple of 3 or 5'%(a))

Enter a number:30
30 is multiple of 3

In [297]:
radius = eval(input("Please input radius:"))

if radius==0:
    print("negative is not invalid !!!")
else:
    area = radius*radius*3.14158
print("radius=",radius)
print("area = " ,area)

Please input radius:4
radius= 4
area =  50.26528

In [298]:
count=1
while count<=100:
    print('Learning Python is fun!')
    count=count+1

Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!

In [299]:
total = 0
k = 1
while k <= 100:
    total = total+k
    k = k+1
print('1+2+3+...+100=',total)

1+2+3+...+100= 5050

In [300]:
total=0
k=100
while k >=1:
    total+=k
    k-=1
print('100+99+98+...+1=%d'%(total))

100+99+98+...+1=5050

In [301]:
evenTotal =0
k = 2
while k<=100:
    evenTotal=evenTotal+k
    k=k+2
print('2+4+6+...+100 =', evenTotal)

2+4+6+...+100 = 2550

In [302]:
for k in range(1,6):
    print(k)

1
2
3
4
5

In [303]:
for k in range(1,10,2):
    print(k)

1
3
5
7
9

In [304]:
for k in range(10,1,-2):
    print(k)

10
8
6
4
2

In [305]:
for k in range(1,101):
    print('Learning Python is fun!')

Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!
Learning Python is fun!

In [306]:
total = 0
for i in range(1,101):
    total+=i
print('1+2+3+...+100=',total)

1+2+3+...+100= 5050

In [307]:
total = 0
for i in range(2,101,2):
    total+=i
print('2+4+6+...+100=',total)

2+4+6+...+100= 2550

In [308]:
total = 0
number = 0
while True:
    number += 1
    total +=number
    if total >=100:
        break
print('The number is',number)
print('Total is',total)

The number is 14
Total is 105

In [309]:
total = 0
number = 0
while True:
    number += 2
    total +=number
    if total >=1000:
        break
print('The number is',number)
print('Total is',total)

The number is 64
Total is 1056

In [310]:
total = 0
number = 1
while number <= 100:
    if number % 5 == 0:
        number += 1
        continue
    total += number
    number += 1
print('the total is',total)

the total is 4000

In [311]:
total = 0
number = 0
while number <= 100:
    number += 1
    if number % 5 != 0:
        continue
    total += number
print('the total is',total)

the total is 1050

In [312]:
total = 0
number = 0
while number <= 100:
    number += 1
    if number % 5 == 0:
        break
    total += number
print('the total is',total)

the total is 10

In [313]:
oddTotal = 0
k = 1
while k <= 100:
    oddTotal =oddTotal + k
    k = k + 2
print('1 + 3 + 5 + ... +99 =',oddTotal)

1 + 3 + 5 + ... +99 = 2500

In [314]:
oddTotal = 0
k = 1
while k <= 100:
    oddTotal +=k
    k += 2
print('1 + 3 + 5 + ... +99 =',oddTotal)

1 + 3 + 5 + ... +99 = 2500

In [315]:
for i in range(1,10):
    print('i = ', i)
    for j in range(1,10):
        print(' j=', j)
    print('')

i =  1
 j= 1
 j= 2
 j= 3
 j= 4
 j= 5
 j= 6
 j= 7
 j= 8
 j= 9

i =  2
 j= 1
 j= 2
 j= 3
 j= 4
 j= 5
 j= 6
 j= 7
 j= 8
 j= 9

i =  3
 j= 1
 j= 2
 j= 3
 j= 4
 j= 5
 j= 6
 j= 7
 j= 8
 j= 9

i =  4
 j= 1
 j= 2
 j= 3
 j= 4
 j= 5
 j= 6
 j= 7
 j= 8
 j= 9

i =  5
 j= 1
 j= 2
 j= 3
 j= 4
 j= 5
 j= 6
 j= 7
 j= 8
 j= 9

i =  6
 j= 1
 j= 2
 j= 3
 j= 4
 j= 5
 j= 6
 j= 7
 j= 8
 j= 9

i =  7
 j= 1
 j= 2
 j= 3
 j= 4
 j= 5
 j= 6
 j= 7
 j= 8
 j= 9

i =  8
 j= 1
 j= 2
 j= 3
 j= 4
 j= 5
 j= 6
 j= 7
 j= 8
 j= 9

i =  9
 j= 1
 j= 2
 j= 3
 j= 4
 j= 5
 j= 6
 j= 7
 j= 8
 j= 9

In [316]:
for i in range(1,10):
    for j in range(1,10):
        print('%d*%d=%2d'%(i,j,i*j))

1*1= 1
1*2= 2
1*3= 3
1*4= 4
1*5= 5
1*6= 6
1*7= 7
1*8= 8
1*9= 9
2*1= 2
2*2= 4
2*3= 6
2*4= 8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*1= 3
3*2= 6
3*3= 9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4*1= 4
4*2= 8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5*1= 5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6*1= 6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7*1= 7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8*1= 8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9*1= 9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [317]:
for i in range(1,10):
    for j in range(1,10):
        print('%d*%d=%2d'%(i,j,i*j),end='')

1*1= 11*2= 21*3= 31*4= 41*5= 51*6= 61*7= 71*8= 81*9= 92*1= 22*2= 42*3= 62*4= 82*5=102*6=122*7=142*8=162*9=183*1= 33*2= 63*3= 93*4=123*5=153*6=183*7=213*8=243*9=274*1= 44*2= 84*3=124*4=164*5=204*6=244*7=284*8=324*9=365*1= 55*2=105*3=155*4=205*5=255*6=305*7=355*8=405*9=456*1= 66*2=126*3=186*4=246*5=306*6=366*7=426*8=486*9=547*1= 77*2=147*3=217*4=287*5=357*6=427*7=497*8=567*9=638*1= 88*2=168*3=248*4=328*5=408*6=488*7=568*8=648*9=729*1= 99*2=189*3=279*4=369*5=459*6=549*7=639*8=729*9=81

In [318]:
for i in range(1,10):
    for j in range(1,10):
        print('%d*%d=%2d'%(i,j,i*j),end='')
    print()

1*1= 11*2= 21*3= 31*4= 41*5= 51*6= 61*7= 71*8= 81*9= 9
2*1= 22*2= 42*3= 62*4= 82*5=102*6=122*7=142*8=162*9=18
3*1= 33*2= 63*3= 93*4=123*5=153*6=183*7=213*8=243*9=27
4*1= 44*2= 84*3=124*4=164*5=204*6=244*7=284*8=324*9=36
5*1= 55*2=105*3=155*4=205*5=255*6=305*7=355*8=405*9=45
6*1= 66*2=126*3=186*4=246*5=306*6=366*7=426*8=486*9=54
7*1= 77*2=147*3=217*4=287*5=357*6=427*7=497*8=567*9=63
8*1= 88*2=168*3=248*4=328*5=408*6=488*7=568*8=648*9=72
9*1= 99*2=189*3=279*4=369*5=459*6=549*7=639*8=729*9=81

In [319]:
for i in range(1,10):
    for j in range(1,10):
        print('%d*%d=%2d'%(j,i,i*j),end='')
    print()

1*1= 12*1= 23*1= 34*1= 45*1= 56*1= 67*1= 78*1= 89*1= 9
1*2= 22*2= 43*2= 64*2= 85*2=106*2=127*2=148*2=169*2=18
1*3= 32*3= 63*3= 94*3=125*3=156*3=187*3=218*3=249*3=27
1*4= 42*4= 83*4=124*4=165*4=206*4=247*4=288*4=329*4=36
1*5= 52*5=103*5=154*5=205*5=256*5=307*5=358*5=409*5=45
1*6= 62*6=123*6=184*6=245*6=306*6=367*6=428*6=489*6=54
1*7= 72*7=143*7=214*7=285*7=356*7=427*7=498*7=569*7=63
1*8= 82*8=163*8=244*8=325*8=406*8=487*8=568*8=649*8=72
1*9= 92*9=183*9=274*9=365*9=456*9=547*9=638*9=729*9=81

In [320]:
import random
for i in range(1,101):
    randomNumber = random.randint(1,100)
    print(randomNumber,end ='')

15397322041289431443737495446188744693277644939190961981526527766991843707232902118709056718626544762664107265927986894676990316843138336824999931445765677806374979145988722195874369474077

In [321]:
import random
evenCount = 0
oddCount = 0
for i in range(1,101):
    randomNumber = random.randint(1,100)
    print(randomNumber,end ='') 
    if randomNumber % 2 ==0:
        evenCount +=1
oddCount = 100-evenCount


print('\nEven number:', evenCount,'\nOdd number:',oddCount)

93438205667382967254656424483066769359160109941122125577444183598543515697792903411231530655731273341535717187174226647981260208133514538549758677181826576494293458494642696939219741602162
Even number: 45
Odd number: 55

In [322]:
import random
evenCount = 0
oddCount = 0


for i in range(1,101):
    randomNumber = random.randint(1,100)
    if i % 10 == 0:
         print('%5d'%(randomNumber))
    else:
         print('%5d'%(randomNumber), end='')
    if randomNumber % 2 ==0:
        evenCount +=1
oddCount = 100-evenCount
print('\nEven number:', evenCount,'\nOdd number:',oddCount)

   17   52   36   15   49   46   56    4   50   81
   10    2   24   21   80   60   54   13   87   24
   34   22   19   40   29   60   65   84   39   60
   29   69   19   14   56   74   20   26   28   23
   47   33    3   60   94   85   30   22   44   94
   96   20   46   66   70   70   87   38   16   79
   93   70   21   42   75   26   70   30   30   12
   68   67   98   70   38   34    7   11    3   38
   94   11   23   28    7    1   54   18   61   56
    2   15    4   25   17   10   93   75   76    4

Even number: 62
Odd number: 38

In [323]:
number = eval(input('Please input an integer:'))
divisor = 2
flag = 1
while divisor < number:
    if number % divisor==0:
#         If true, number is not prime number
          flag = 0
          break
    divisor += 1
if flag == 0:
    print(number, 'is not prime number')
else:
    print(number, 'is prime number')

Please input an integer:223
223 is prime number

In [324]:
number = eval(input('Please input an integer:'))
divisor = 2
flag = 1
while divisor <= number/2:
    if number % divisor==0:
#         If true, number is not prime number
          flag = 0
          break
    divisor += 1
if flag == 0:
    print(number, 'is not prime number')
else:
    print(number, 'is prime number')

Please input an integer:223
223 is prime number

In [325]:
for number in range(2,1001):
    divisor = 2
    flag = 1
    while divisor <= number /2:
        if number % divisor==0:
            flag = 0
            break
        divisor += 1
    if flag == 1:
        print(number, end ='')

2357111317192329313741434753596167717379838997101103107109113127131137139149151157163167173179181191193197199211223227229233239241251257263269271277281283293307311313317331337347349353359367373379383389397401409419421431433439443449457461463467479487491499503509521523541547557563569571577587593599601607613617619631641643647653659661673677683691701709719727733739743751757761769773787797809811821823827829839853857859863877881883887907911919929937941947953967971977983991997

In [326]:
count = 0
for number in range(2,1001):
    divisor = 2
    flag = 1
    while divisor <= number /2:
        if number % divisor==0:
            flag = 0
            break
        divisor += 1
    if flag == 1:
        count += 1
        if count % 10 == 0:
            print('%5d'%(number))
        else:
            print('%5d'%(number), end ='')

    2    3    5    7   11   13   17   19   23   29
   31   37   41   43   47   53   59   61   67   71
   73   79   83   89   97  101  103  107  109  113
  127  131  137  139  149  151  157  163  167  173
  179  181  191  193  197  199  211  223  227  229
  233  239  241  251  257  263  269  271  277  281
  283  293  307  311  313  317  331  337  347  349
  353  359  367  373  379  383  389  397  401  409
  419  421  431  433  439  443  449  457  461  463
  467  479  487  491  499  503  509  521  523  541
  547  557  563  569  571  577  587  593  599  601
  607  613  617  619  631  641  643  647  653  659
  661  673  677  683  691  701  709  719  727  733
  739  743  751  757  761  769  773  787  797  809
  811  821  823  827  829  839  853  857  859  863
  877  881  883  887  907  911  919  929  937  941
  947  953  967  971  977  983  991  997

In [327]:
number1 = eval(input('Please input an integer:'))
number2 = eval(input('Please input an integer:'))
gcd = 1
k = 2
while k <= number1 and k <= number2:
    if number1 % k == 0 and number2 % k == 0:
        gcd = k
    k += 1
print('The GCD for', number1,'and',number2,'is',gcd)

Please input an integer:125
Please input an integer:2525
The GCD for 125 and 2525 is 25

In [328]:
numerator1 =eval(input('Please input an numerator1:'))
denominator1 =eval(input('Please input an denominator1:'))

numerator2 = eval(input('Please input an numerator2:'))
denominator2 =eval(input('Please input an denominator2:'))

number1 = numerator1*denominator2 + numerator2*denominator1
number2 = denominator1 * denominator2

gcd = 1
k =2
while k <= number1 and k <= number2:
    if number1 % k == 0 and number2 % k == 0:
        gcd = k
    k += 1
print('The GCD for', number1,'and',number2,'is',gcd)
print('%d/%d+%d/%d ='%(numerator1,denominator1,numerator2,denominator2),end='')
print('%d/%d'%(number1/gcd,number2/gcd))

Please input an numerator1:1
Please input an denominator1:2
Please input an numerator2:1
Please input an denominator2:6
The GCD for 8 and 12 is 4
1/2+1/6 =2/3

In [329]:
import random
for i in range(1,7):
    k = random.randint(1,49)
    print(k,end = '')

9271612729

In [330]:
import random
for i in range(1,7):
    k = random.randint(1,49)
    print(k,end = '')

18145204835

In [331]:
fiveMulti = 0
k = 5
while k <= 100:
    k+= 5
print(fiveMulti)

0

In [332]:
for i in range(10):
    print(i,end='')
print('')

for i in range(2,10):
    print(i,end='')
print('')

for i in range(1,10,2):
    print(i,end='')
print('')

for i in range(9,1,-2):
    print(i,end='')
print('')

0123456789
23456789
13579
9753

In [333]:
for i in range(10):
    print('%3d'%(i),end='')
print('')

for i in range(2,10):
    print('%3d'%(i),end='')
print('')

for i in range(1,10,2):
    print('%3d'%(i),end='')
print('')

for i in range(9,1,-2):
    print('%3d'%(i),end='')
print('')

  0  1  2  3  4  5  6  7  8  9
  2  3  4  5  6  7  8  9
  1  3  5  7  9
  9  7  5  3

In [334]:
total = 0
num = 0
while True:
    num +=1
    total += num
    if total>=5050:
        break
print('1+2+3+...+%d=%d'%(num,total))

1+2+3+...+100=5050

In [335]:
total = 0
num = 0
while True:
    num +=1
    total += num
    if total>=5050:
        break
print('1+2+3+...+%d=%d'%(num,total))

1+2+3+...+100=5050

In [336]:
total = 0
num = 1
while num <=100:
    if num % 2 == 0:
        num +=1
        continue
    total += num
    num +=1
print('1+3+5..+99=',total)

1+3+5..+99= 2500

In [337]:
total = 0
for i in range(1,101):
    if i % 2 == 1:
        total += i
    else:
        continue
print('1+3+5..+99=',total)

1+3+5..+99= 2500

In [338]:
for i in range(10):
    for j in range(i,10):
        print('*', end='')
    print('')

**********
*********
********
*******
******
*****
****
***
**
*

In [339]:
for i in range(9):
    for j in range(i):
        print('*', end='')
    print('')

*
**
***
****
*****
******
*******
********

In [340]:
total = 0
i = 1 
while i <= 100:
    i += 1
    total += i
print('total = %d'%total)

total = 5150

In [341]:
total = 0
i = 1 
while i <= 100:
    i += 1
    total += i
print('total = %d'%total)

total = 5150

In [342]:
i = 8
while i >=1:  
    j = 1
    while j <= i:
        print('%2d'%(j),end = '')
        j += 1
    print()
    i -= 1
print()

 1 2 3 4 5 6 7 8
 1 2 3 4 5 6 7
 1 2 3 4 5 6
 1 2 3 4 5
 1 2 3 4
 1 2 3
 1 2
 1

In [343]:
total = 0
for i in range(100,1,2):
    total += i
print('total = %d'%(total))

total = 0

In [344]:
total = 0
for i in range(100,1,-2):
    total += i
print('total = %d'%(total))

total = 2550

In [345]:
otal = 0
num = 0
while True:
    num +=1
    total += num
    if total>=5050:
        break
print('1+2+3+...+%d=%d'%(num,total))

1+2+3+...+71=5106

In [346]:
total = 0
num = 1
while num <=100:
    if num % 2 == 0:
        num +=1
        continue
    total += num
    num +=1
print('1+3+5..+99=',total)

1+3+5..+99= 2500

In [347]:
total = 0
for i in range(2,100):
    if i % 2 == 0:
        total += i
    else:
        continue
print('2+4+6..+98=',total)

2+4+6..+98= 2450

In [348]:
i = 6
while i >=1:  
    j = 1
    while j <= i:
        print('%2d'%(j),end = '')
        j += 1
    print()
    i -= 1
print()

 1 2 3 4 5 6
 1 2 3 4 5
 1 2 3 4
 1 2 3
 1 2
 1

In [349]:
for i in range(8):
    for j in range(i,8):
        print('*', end='')
    print('')

********
*******
******
*****
****
***
**
*

In [350]:
for i in range(9):
    for j in range(i):
        print('*', end='')
    print('')

*
**
***
****
*****
******
*******
********

In [351]:
total = 0
i = 1 
while i <= 100:
    i += 1
    total += i
print('total = %d'%total)

total = 5150

In [352]:
total = 0
i = 1 
while i <= 100:
    total += i
    i += 1
print('total = %d'%total)

total = 5050

In [353]:
total = 0
i = 1 
while i < 100:
    total += i
    i += 1
print('%d'%(total))

4950

In [354]:
total = 1
i = 1 
while i <=100:
    total += i
    i += 1
print('%d'%(total))

5051

In [355]:
total = 0
for i in range(1,100):
    total += 1
print('%d'%(total))

99

In [356]:
total = 0
for i in range(5,51,5):
    total += i
print('%d'%(total))

275

In [357]:
total = 0
for i in range(100,1,-1):
    total += i
print('%d'%(total))

5049

In [358]:
total = 0
for i in range(1,-11,-1):
    total += i
print('%d'%(total))

-54

In [359]:
total = 0
for i in range(1,20,2):
    total += i
print('%d'%(total))

100